saturn/BuildDrop/
**/*.o
**/*.d
**/*.elf
**/*.iso
**/*.cue
**/*.bin.tmp

dreamcast/build*/

**/*.exe
tests/**/*.out

SaturnRingLib/Compiler/
SaturnRingLib/tools/bin/lin/
SaturnRingLib/tools/bin/mac/

/.idea/
Thumbs.db
Desktop.ini
.DS_Store

.env

.worktrees/
